body {
    background-color: whitesmoke;
    text-align: center;
    font-size: x-large;
}

h1 {
    font-style: italic;
    color: #c0dFEF;
	margin-bottom: 100px;
	margin-top: 50px;
	font-family: cursive;
}

ul {
	color: #4ABDAC;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    font-family: fantasy;
	padding-bottom: 100px;
	text-decoration: underline;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    color: #c0dFEF;
    font-size: 20px;
    text-decoration: none;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }

  p {
    color: #c0dFEF;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    font-family: cursive;
  }

  h3{
	  color: #c0dFEF;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
  }
  
#icon {
	height: 100px;
	display: block;
	margin: -10px auto;
}

img {
	display: block;
	margin: 20px auto;
}

.used {
	border: #6B7A8F;
	background: #6B7A8F;
}

#container > div {
	color: #EFEFEF; /*light gray */
	border: 1px solid; /*green*/
	background: #4ABDAC; /*green*/
	width: 40px;
	height: 40px;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 5px;
	margin-top: 5px;
	display: inline-block;
	line-height: 45px;
}

button {
	color: #EFEFEF; /*light gray */
	border: 1px solid #356799; /*blue*/
	background: #356799; /*blue*/
	width: 45px;
	height: 45px;
	font-size: 14px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	margin-bottom: 5px;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	-webkit-transition-duration: 0.5s;
  	transition-duration: 0.5s;
  	-webkit-transition-property: transform;
	transition-property: transform;
}

button:hover {
	border: #6B7A8F;
	background: #6B7A8F;
	cursor: pointer;
	color: #EFEFEF; /*light gray*/
	text-transform: uppercase;
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

button:focus {
	outline:0;
}


.rejouer {
	margin-top: 20px;
	width: 190px;
	height: 45px;
	background: #4ABDAC; /*green*/
	border: 1px solid #4ABDAC; /*orange*/
}